*{
    margin: 0 ;
    padding: 0;
    box-sizing:border-box; 
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-color: #201028;
    
  }
  
  
  
  
  .logo {
    top: -78px;
    left: -40px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background: transparent;
   
    }
  
  
  
  .nav-wrapper{
    position: absolute;
    top: 0;
    opacity: 85%;
    right: -100%;
    height: 100%;
    width: 50%;
    background:#876684;
    transition: all 0.6s ease-in-out;
  }
  #active:checked ~ .nav-wrapper{
    right:0;
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    color: #876684;
    border-radius: 50%;
    font-size: 20px;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
  }
  .menu-btn span,
  .menu-btn:before,
  .menu-btn:after{
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 30%;
      width: 40%;
      border-bottom: 2px solid #876684;
      transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .menu-btn:before{
    transform: translateY(-8px);
  }
  .menu-btn:after{
    transform: translateY(8px);
  }
  
  
  .close {
      z-index: 1;
      width: 100%;
      height: 100%;
      pointer-events: none;
      transition: background .6s;
  }
  
  #active:checked + .menu-btn span {
      transform: scaleX(0);
  }
  #active:checked + .menu-btn:before {
      transform: rotate(45deg);
    border-color: #fff;
  }
  #active:checked + .menu-btn:after {
      transform: rotate(-45deg);
    border-color: #fff;
  }
  .nav-wrapper ul{
    position: absolute;
    top: 60%;
    left: 50%;
    height: 90%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .nav-wrapper ul li{
    height: 10%;
    margin: 15px 0;
  }
  .nav-wrapper ul li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    border-radius: 500px;
    position: absolute;
    line-height: 50px;
    margin: 5px 30px;
    opacity: 0;
    transition: all 0.3s ease;
    
  }
  .nav-wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  .nav-wrapper ul li a:hover{
    color: #daf0de;
  }
  input[type="checkbox"]{
    display: none;
  }
  
  #active:checked ~ .nav-wrapper ul li a{
    opacity: 1;
  }
  .nav-wrapper ul li a{
    transition: opacity 1.2s, transform 1.2s 
    
  }
  #active:checked ~ .nav-wrapper ul li a{
      transform: none;
      transition-timing-function: ease;
     transition-delay: .6s;
    transform: translateX(-100px);
  }
  
  .sponsor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 4rem;
    margin: 0 auto;
    max-width: 700px;
  }
  
  li p {
    margin-top: 1rem;
    font-family: system-ui;
    text-align: center;
  }
  
  .sponsor img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: contain;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  