/* CSS inspo for the carousel https://codepen.io/claudiulazar/pen/OdvVOo */
body {
  margin: 50px;
  text-align:left;
  font-family: sans-serif;
  color: #fefefe;
}
h2{
  font-style: italic;
  color: lightgray;
  text-align:left;
  font-family: sans-serif;
  color: #fefefe;
}
h3{
  font-size: 14pt;
  margin-top: 4px;
  text-align:left;
  font-family: 'Roboto', sans-serif;
  color: #fefefe;  
}
.container {
  display:flex;
  position:relative;
  width: 320px;
  margin: 100px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 50s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}

/* how to make the photos rotating and havingnì not empty images when they are turning around */
.carousel__face:nth-child(1) {
  background-image: url("purple.jpg");
  transform: rotateY(  0deg) translateZ(430px);width:300px; height:300px; }
.carousel__face:nth-child(2) { 
  background-image: url("split.jpg");
    transform: rotateY( 40deg) translateZ(430px); width:300px; height:300px; }
.carousel__face:nth-child(3) {
  background-image: url("pinkman.jpeg"); width:300px; height:300px;
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("blue.jpg"); width:300px; height:300px;
  transform: rotateY(120deg) translateZ(430px); }


/* path movement */
@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
.logo {
 background-color: transparent;
 margin-top: 10px;
 position: absolute;
 cursor: pointer;
}