*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  *zoom: 1;
  
  font-weight: 300;
  margin: 0;
  padding: 0;
}

body {
 
  height: 100%;
}

.c {
  width: 100%;
}
.p {
  padding: 0px;
  background: #818181;
  border-radius: 0 0 6px 6px;
  position: absolute;
  top: 30%;
  left:50%;
  margin-left:-350px;
  margin-top: -170px;
  max-width: 700px;
  width: 700px;
  max-height: 340px;
  height: 340px;

  overflow: hidden;
}
/* Sponsors  */

.sponsorsFooter {
  width: 100%;
  height: auto;
  padding: 40px 0 10px;
  z-index: 14;
  margin-top: 0px;
  z-index: 1 !important;
  text-align: center !important;
  z-index: 99;
}

.sponsorsFooter h1 {
  font-weight: 300 !important;
  color: #876684 !important;
  font-size: 40px;
}
.sponsorsFooter h1 > strong { font-weight: 700 !important;}

.sponsorsFooter img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto;
  vertical-align: middle;
  max-width: 120px;
}

.sponsorsFooter ul {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
  display: block;
}


.sponsorsFooter ul li {
  margin: 35px 16px 0px;
  display: inline-block;
}


@media(max-width: 750px) {
  .p {
    margin-left:-200px;
    margin-top: -120px;
    max-width: 400px;
    width: 400px;
    max-height: 240px;
    height: 240px;
  }
  .sponsorsFooter img { max-width: 70px; }
  .sponsorsFooter ul li {
    margin: 15px 5px 0px;
  }
}